.container-grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: repeat(1, 100%);
    margin: 0 1rem 0 1rem;
    min-height: 100%;
}

.left-container {
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    height: 100%;

    padding: 2rem 0 0 0;

    font-size: 1.5rem;
    color: var(--color-text-primary);
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: var(--color-text-primary);
}

.right-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 0;

    padding: 2rem 0 0 0;

    font-size: 1rem;
    color: var(--color-text-primary);
}

.algorithm-types-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;

    margin: 1rem 0 0 0;
}

.difficulty-switch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    margin: 1rem 0 0 0;

    color: var(--color-text-primary);
}

.algorithm-button {
    width: 100%;
    padding: 0.5rem;

    border: none;
    background-color: #333;
    color: var(--color-text-primary);

    transition: background-color 0.3s;

    font-size: 16px;
    border-radius: 5px;
}

.algorithm-button:hover {
    cursor: pointer;
    background-color: var(--color-hover);
}

.algorithm-button:disabled {
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
    cursor: not-allowed;
    opacity: 0.6;
}

.algorithm-button-highlighted {
    width: 100%;
    padding: 0.5rem;

    border: none;
    background-color: var(--color-secondary);
    color: var(--color-text-primary);

    transition: background-color 0.3s;

    font-size: 16px;
    border-radius: 5px;
}

.game-status-info {
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
}

.board-size-container{
    margin: 0 0 1rem 0;
}