.square {
    width: 100%;
    height: 100%;
    font-size: 50px;

    background-color: #333;
    border: 1px solid #666;
}

.square-empty {
    width: 100%;
    height: 100%;
    font-size: 50px;

    background-color: #333;
    border: 1px solid #666;
}

.square-empty:hover {
    cursor: pointer;
    color: rgb(120, 120, 120);
    background-color: #3f3f3f;
}